{% extends "layout.html" %}


{% block title_of_page %} Tweeets {% endblock %}


{% block content_of_page %}

    <div class='min-h-screen flex flex-col items-center'>

        <a href="{% url 'tweet_create' %}" class='my-8 bg-violet-500 py-4 px-8 text-xl rounded-xl'>
            Create a Tweet
        </a>

        <div class='grid grid-cols-3 gap-x-6 gap-y-6'>

            {% for tweet in all_tweets %}
                
                <div class="flex flex-col gap-5 items-center justify-center max-w-sm p-6 border rounded-lg shadow bg-slate-700 border-gray-700">

                    {% if tweet.photo %}

                        <img src="{{tweet.photo.url}}" alt="tweet photo" class="w-full h-48 object-cover rounded-lg">
                    
                    {% endif %}

                    <p class="mb-2 text-center text-xl tracking-tight text-gray-900 dark:text-white">
                        {{tweet.text}}
                    </p>

                    <p class="font-normal text-center text-gray-700 dark:text-gray-400">
                        created by <i>{{tweet.user.username}}</i>
                    </p>

                    {% if tweet.user == user %}


                        <div class='w-full flex items-center justify-between'>

                            <a href="{% url 'tweet_edit' tweet.id %}" class='px-8 py-3 rounded-lg hover:cursor-pointer bg-violet-800 text-white'>Edit</a>

                            <a href="{% url 'tweet_delete' tweet.id %}" class='px-8 py-3 rounded-lg hover:cursor-pointer bg-red-600 text-white'>Delete</a>

                        </div>

                    {% endif %}

                </div>
        
            {% endfor %}

        </div>

    </div>

{% endblock %}